.borrow {
  &--header {
    margin-top: 52px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 5px solid $green;
    font-family: "Bebas Neue", cursive;
    font-size: $text-xl;
    text-align: center;

    .text--green {
      color: $green;
    }

    .text--pink {
      color: $pink1;
    }
  }

  &--header-image {
    width: 380px;
  }

  &--content {
    margin: 50px 30px;

    .borrow-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .vs {
      font-family: "Bebas Neue", cursive;
      color: $blue;
      font-size: 80px;
      margin: 0 30px;
    }
  }
}

.select-token-card {
  width: 100%;
  max-width: 512px;
  border: 5px solid $blue;
  border-radius: 10px;
  padding: 68px 28px 10px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray3;

  &--row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
  }

  &--message {
    margin-top: 34px;
    font-family: "Bebas Neue", cursive;
    font-size: 48px;
    line-height: 0.8;
  }

  &--sub-message {
    font-style: italic;
  }
}

.selected-token {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 50px;

  &--name {
    font-family: "Bebas Neue", cursive;
    color: $pink1;
    font-size: $text-lg;
    text-align: center;
    padding-bottom: 35px;
  }
}

.token-list-row {
  display: flex;
  justify-content: space-between;

  &--item {
    margin: 5px;
    cursor: pointer;
  }
}
