@import "variables";
@import "button";
@import "header";
@import "borrow";

html {
  background-color: $black;
  color: $white;
  font-family: "Archivo", sans-serif;
  font-size: $text-md;
}

.app {
  margin: 42px 21px;
}

.row {
  display: flex;
  align-items: center;
}

.arrow-icon {
  fill: $blue;
  cursor: pointer;

  &--right {
    transform: rotate(90deg);
  }

  &--left {
    transform: rotate(-90deg);
  }
}
