@import "variables";
@import "button";
@import "borrow";

.arrow-icon {
  fill: $blue;
  cursor: pointer;

  &--right {
    transform: rotate(90deg);
  }

  &--left {
    transform: rotate(-90deg);
  }
}
