// colors
$black: #000;
$white: #fff;
$gray1: #6d6d6d;
$gray2: #494747;
$gray3: #2d2c2c;

$green: #4befbc;
$blue: #73ddda;

$pink1: #fd9cfd;
$pink2: #ef5da8;

$purple: #5d5fef;

$text-sm: 12px;
$text-md: 16px;
$text-xmd: 24px;
$text-lg: 36px;
$text-xl: 50px;
$text-xxl: 64px;
